@media screen and (min-width:1200px) {
    .container {
        max-width: 1158px;
    }
    .section,
    .menu,
    .customers {
    padding-top: 120px;
    padding-bottom: 120px;
    }

    .menu-icon-box {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background-color: var(--background-color);
    border-radius: 4px;
    }
    .menu-list {
        display: flex;
    }
    .menu-title {
        font-size: 20px;
    }
    .menu-item:not(:last-child) {
    margin-right: 24px;
}

    .mobile {
    padding-bottom: 120px;
    display: block;
    }

    .team-card {
        flex-basis: calc((100% - 72px) / 4);
    }

    .customers-list {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-media {
        display: flex;
        gap: 100px;
    }
    .footer-container {
        display: flex;
}
    .footer-content {
        width: 264px;
    }
    .subscribe-form {
        display: flex;
        gap: 24px;
}
}
