@media screen and (min-width:1200px) {
    .container {
        max-width: 1158px;
    }
    .section,
    .menu,
    .customers {
    padding-top: 120px;
    padding-bottom: 120px;
    }

    .section-1 {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .header-list {
        display: flex;
        align-items: center;
    }

    .header-item {
    margin-bottom: 0;
    }

    .header-nav-wrap {
        background-color: transparent;
        width: unset;
        height: unset;
        position: static;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .header-btn-mobile-close {
        display: none;
    }

    .header-btn-mobile {
        display: none;
    }

    .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color 250ms var(--transition-cubic);
    }

    .current {
    color: var(--background-btn-hover);
    position: relative;
}

    .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -28px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-btn-hover);
}

.regular-text {
    font-size: 16px;
    line-height: 1.5;
}

    .hero {
    text-align: center;
    background-color: var(--second-text-color);
    background-image: var(--gra), url(../images/hero-bg-dkp.jpeg);
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--gra), url(../images/hero-bg-dkp-2x.jpeg);
        }
    }

    .menu-icon-box {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background-color: var(--background-color);
    border-radius: 4px;
    }
    .menu-list {
        display: flex;
    }
    .menu-title {
        font-size: 20px;
    }
    .menu-item:not(:last-child) {
    margin-right: 24px;
}

    .mobile {
    padding-bottom: 120px;
    display: block;
    }

    .team-card {
        flex-basis: calc((100% - 72px) / 4);
    }

    .customers-list {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-container {
        display: flex;
    }
    .footer-content {
        width: 264px;
        margin-right: 120px;
    }
    .footer-media-list {
        margin-right: 80px;
    }
    .subscribe-form {
        display: flex;
        gap: 24px;
}
}
