@media screen and (max-width: 479px) {
    .section-1 {
    padding-top: 112px;
    padding-bottom: 112px;
    }

    .header-list {
        display: none;
    }
    .header-item {
        display: none;
    }

    .soc-mobile {
    display: flex;
    gap: 35px;
}

    .hero-title {
    margin: 0 auto;
    max-width: 320px;
    font-size: 36px;
    }
    .hero-btn {
        margin-top: 72px;
    }

    .menu-item {
        margin-bottom: 72px;
    }
    .menu-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .footer-input {
        min-width: 290px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    .footer-content {
        width: 268px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }
    .footer-text {
        text-align: left;
    }
    .footer-subscribe {
        display: flex;
        flex-direction: column;
    }
    .footer-input-title {
        text-align: center;
    }
    .subscribe-form {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
        gap: 16px;
    }
    .footer-title {
        text-align: center;
    }
    .footer-media-list {
        justify-content: center;
        margin-bottom: 72px;
    }
    .button-list {
        flex-wrap: wrap;
    }
}

@media screen and (min-width:480px) and (max-width:767px) {
    .container {
        max-width: 428px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }
    .section,
    .menu {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .header-list {
        display: none;
    }
    .header-item {
        display: none;
    }

    .mob-menu-link,
    .phone-number-mob {
        font-size: 36px;
    }

    .hero-title {
    margin: 0 auto;
    max-width: 320px;
    font-size: 36px;
    }
    .hero-btn {
        margin-top: 72px;
    }

    .menu-icon-box {
        display: none;
    }
    .menu-item {
        margin-bottom: 72px;
    }
    .menu-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .mobile {
        display: none;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    .footer-content {
        max-width: 268px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }
    .footer-text {
        text-align: left;
    }
    .footer-subscribe {
        display: flex;
        flex-direction: column;
    }
    .footer-input-title {
        text-align: center;
    }
    .subscribe-form {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
        gap: 16px;
    }
    .footer-title {
        text-align: center;
    }
    .footer-media-list {
        justify-content: center;
        margin-bottom: 72px;
    }
    .footer-input {
        min-width: 398px;
    }
    

}