@media screen and (max-width: 479px) {
    .section-1 {
    padding-top: 112px;
    padding-bottom: 112px;
    }

    .header-list {
        display: none;
    }
    .header-item {
        display: none;
    }

    .soc-mobile {
    display: flex;
    gap: 35px;
    }

    .hero-title {
    margin: 0 auto;
    max-width: 320px;
    font-size: 36px;
    }
    .hero-btn {
        margin-top: 72px;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        row-gap: 72px;
        align-items: center;
    }
    .menu-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    margin-top: 8px;
    }

    .menu-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-top: 8px;
    }

    .modal {
        width: 285px;
        height: auto;
    }
    .modal-input {
        width: 100%;
    }

    .footer-input {
        min-width: 290px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    .footer-content {
        width: 268px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }
    .footer-text {
        text-align: left;
    }
    .footer-subscribe {
        display: flex;
        flex-direction: column;
    }
    .footer-input-title {
        text-align: center;
    }
    .subscribe-form {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
        gap: 16px;
    }
    .footer-title {
        text-align: center;
    }
    .footer-media-list {
        justify-content: center;
        margin-bottom: 72px;
    }
    .button-list {
        flex-wrap: wrap;
    }
}

@media screen and (min-width:480px) and (max-width:767px) {
    .container {
        max-width: 428px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .section,
    .menu {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .header-list {
        display: none;
    }
    .header-item {
        display: none;
    }

    .mob-menu-link,
    .phone-number-mob {
        font-size: 36px;
    }

    .hero-title {
    margin: 0 auto;
    max-width: 320px;
    font-size: 36px;
    }
    .hero-btn {
        margin: 72px auto;
        width: 169px;
        height: 56px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-icon-box {
        display: none;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        row-gap: 72px;
        align-items: center;
    }

    .mobile {
        display: none;
    }

    .modal {
        width: 392px;
        height: auto;
    }
    .modal-input {
        width: 100%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    .footer-content {
        max-width: 268px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }
    .footer-text {
        text-align: left;
    }
    .footer-subscribe {
        display: flex;
        flex-direction: column;
    }
    .footer-input-title {
        text-align: center;
    }
    .subscribe-form {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
        gap: 16px;
    }
    .footer-title {
        text-align: center;
    }
    .footer-media-list {
        justify-content: center;
        margin-bottom: 72px;
    }
    .footer-input {
        min-width: 398px;
    }
    

}