@media screen and (min-width:768px) and (max-width:1159px) {
    .container {
        max-width: 736px;
        padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    .section,
    .menu,
    .customers {
    padding-top: 96px;
    padding-bottom: 96px;
    }

    .menu-icon-box {
        display: none;
    }

    .menu-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .menu-item {
        width: calc((100% - 24px) / 2);
    }

    .team-card {
        flex-basis: calc((100% - 24px) / 2);
        max-width: 264px;
    }

    .mobile {
        display: none;
    }

    .footer-container {
        max-width: 565px;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
    }
    .footer-content {
        max-width: 264px;
        margin-bottom: 72px;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }
    
}