@media screen and (min-width:768px) and (max-width:1159px) {
    .container {
        max-width: 768px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .section,
    .menu,
    .customers {
    padding-top: 96px;
    padding-bottom: 96px;
    }

    .header-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .contact-list {
        flex-direction: column;
        padding: 13px 0;
    }
    .header-mail {
        margin-right: 0;
    }

    .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color 250ms var(--transition-cubic);
    }

    .current {
    color: var(--background-btn-hover);
    position: relative;
}

    .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -28px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-btn-hover);
    }

    .regular-text {
    font-size: 16px;
    line-height: 1.5;
    }

    .mob-menu-open {
        display: none;
    }

    .hero {
    text-align: center;
    background-color: var(--second-text-color);
    background-image: var(--gra), url(../images/hero-bg-tab.jpeg);
    background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--gra), url(../images/hero-bg-tab-2x.jpeg);
            background-size: cover;
        }
    }

    .hero-btn {
        margin-top: 36px;
    }

    .menu-icon-box {
        display: none;
    }
    .menu-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 72px 24px;
    }
    .menu-item {
        width: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }

    .team-card {
        flex-basis: calc((100% - 24px) / 2);
        max-width: 264px;
    }

    .mobile {
        display: none;
    }

    .customers-list {
        width: 552px;
        margin: auto;
    }

    .footer-container {
        max-width: 565px;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        gap: 24px;
    }
    .footer-content {
        max-width: 264px;
        margin-bottom: 72px;
    }
    .subscribe-form {
        display: flex;
        gap: 24px;
    }
}